*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: #73c66c;
  border-bottom: 1px solid #73c66c;
  display: flex;
  justify-content: center;
}

.gheading {
  background-color: rgb(35, 107, 7);
}

.rheading {
  background-color: blue;
}

.mheading {
  background-color: rgb(255, 0, 0);
}

.wrapper {
  max-width: 1200px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

main section {
  padding-top: 20px;

  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.listebanner {
  margin: 30px;
  background-color: #73c66c;
  width: 95%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.cart {
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}

.fa-solid {
  color: #73c66c;
}
.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  border-radius: 22px;
  background-color: #73c66c;
  color: white;
}

.container {
  display: flex;
  width: 70%;
  margin-bottom: 30px;
}

#root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.sidebar {
  width: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}

.head {
  background-color: #73c66c;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px px;
  border-top: 1px solid #333;
}

.card-item {
  width: 20%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.card-item:nth-child(1) {
  width: 130vh;
  background-color: rgba(80, 184, 72, 0.8);
}

.card-item:nth-child(2) {
  width: 130vh;
  background-color: rgb(168, 30, 30);
}

.card-item:nth-child(3) {
  width: 130vh;
  background-color: rgba(4, 61, 168, 0.8);
}

/* .text-center {
  text-align: center;
} */

.text-tag1 {
  padding: 20px;
  /* background-color: aqua; */
  text-align: center;
}
.varer-r {
  /* height: 50vh; */
  /* padding: 10px; */
  display: flex;
  /* background-color: aqua; */
}

.varerM-container {
  text-align: center;
  background-color: red;
  padding: 20px;
  border-radius: 8px;
}

.varerR-container {
  text-align: center;
  background-color: blue;
  padding: 20px;
  border-radius: 8px;
}

.varer-container {
  width: 300px;
  height: 50vh;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #73c66c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* transition: transform 0.3s; */
}

/* .varer-container:hover {
  transform: scale(1.05);
} */

.varer-container .r-image {
  width: 100%;

  object-fit: cover;

  top: 0;
  /* left: 0; */
}
.r-image {
  max-width: 25vh;
  max-height: 25vh;
  min-height: 25vh;
  width: 100%;
  max-height: 30vh;
  border-radius: 8px;
}

/* .varer-r {
  background-color: aqua;
  width: 20%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

.r {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-image {
  width: 100%;
}

.r-link {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: 100ms ease;
} */

.card-item__image-container {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card-item__image:nth-child(2) {
  width: 100%;
} */

.card-item__link {
  padding: 12px 20px;
  border-radius: 8px;
  color: inherit;

  transition: 100ms ease;
}
/* .card-item__link:hover {
  background-color: rgb(215, 215, 215);
} */

.wrapper-main {
  height: 100%;
  flex-wrap: wrap;
  /* background-color: #ffad06; */
  display: flex;
  justify-content: center;
}

.meny-logo {
  background-color: aqua;
  height: 92px;
}

.logo {
  padding-top: 23px;
  color: white;
  background-color: inherit;
}

.card-image-container {
  padding-top: 40px;
  width: 100%;
}

.meny-link-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.meny-link-icon {
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
  width: 12vw;
  gap: 20;
}

.main-logo-container__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.fa {
  /* padding: 20px; */
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* .btn {
  width: 70vh;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 100ms ease;
  display: flex;

  
} */

.cart-button {
  padding: 12px 20px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 100ms ease;

  background-color: rgb(3, 172, 17);
  /* justify-content: space-between; */
}

.cart-button:hover {
  background-color: #73c66c;
}

.varer-image-container {
  width: 700vh;
  /* background-color: aqua; */
}

.fas {
  font-size: 15px;
}
/* .text-container {
  padding-top: 20px;
} */

/* .text {
  padding-top: 20px;
  background-color: #73c66c;
} */

.text-tag {
  display: flex;
  padding-top: 20px;
  padding-bottom: 32px;
  /* background-color: black; */
}

.text-tag2 {
  padding-top: 20px;
}

.kort-bilde {
  height: 70vh;
  padding: 120px;
  display: flex;
}

.kort_bilde {
  width: 100%;
  max-height: 30vh;
}
.kort-bilde-container {
  padding: 20px;
  /* background-color: rgb(35, 107, 7); */
}

.popup {
  height: 600px;
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.open-popup1 {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.open-popup2 {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.open-popup3 {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.open-popup4 {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.open-popup5 {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.knapp {
  padding: 10px 60px;
  background: rgb(3, 172, 17);
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.knapp:hover {
  background-color: #73c66c;
}

/* .hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)),
    url();
  background-position: center;
  background-size: cover;
  position: absolute;
} */

.form-box {
  width: 360px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background-color: rgb(87, 241, 87);
  padding: 5px;
  overflow: hidden;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}

.social-icons {
  margin: 30px auto;
  text-align: center;
}

.social-icons img {
  margin: 30px auto;
  text-align: center;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px o;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  outline: none;
  border-radius: 30px;
}

.chech-box {
  margin: 30px 10px 30px 0;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 38px;
  left: 20px;
  position: absolute;
}

#login {
  left: 50px;
}

#registrer {
  left: 450px;
}

body {
  position: relative;
  margin: 0;
}

footer {
  padding-top: 9vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 20vh;
  background-color: rgb(35, 107, 7);
  position: relative;
  bottom: 0;
}

.kiwi-footer {
  background-color: #73c66c;
}

.meny-footer {
  background-color: red;
}

.rema-footer {
  background-color: blue;
}

footer a {
  padding: 12px 20px;
  color: white;
}

footer a:hover {
  color: black;
}
